<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-2">
    <div class="ui-g-5 ui-lg-12" id="profile-picture">
      <img src="assets/images/fakeProfilePicture.jpg" alt="profile picture" />
    </div>
    <div class="ui-g-7 ui-md-12">
      <app-skill-list />
    </div>
  </div>
  <div class="ui-g-12 ui-md-8 ui-lg-10">
    <div id="contact-info-flex">
      <div id="name">
        <h2>{{ 'name' | translate }}</h2>
        <div>{{ 'jobTitle' | translate }}</div>
      </div>
      <div id="contact-data">
        <span>{{ 'phoneNumber' | translate }}</span
        ><span>{{ 'email' | translate }}</span>
      </div>
      <div id="introduction">
        <p>
          {{ 'introductionFirstParagraph' | translate }}
        </p>
        <p>
          {{ 'introductionSecondParagraph' | translate }}
        </p>
      </div>
    </div>
    <div>{{ 'spokenLanguagesText' | translate }}</div>
  </div>
</div>
