<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-2">
    <div class="ui-g-5 ui-lg-12" id="profile-picture">
      <img src="assets/images/fakeProfilePicture.jpg" alt="profile picture" />
    </div>
    <div class="ui-g-7 ui-md-12">
      <app-skill-list />
    </div>
  </div>
  <div class="ui-g-12 ui-md-8 ui-lg-10">
    <div id="contact-info-flex">
      <div id="name">
        <h2>Nagy Márton</h2>
        <div>Frontend dev</div>
      </div>
      <div id="contact-data">
        <span>+36302148681</span><span>{{ ' nagymarci91142@gmail.com' }}</span>
      </div>
      <div id="introduction">
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
          Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
          classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
          written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
          section 1.10.32.
        </p>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
          Latin norum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
          Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
          Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
          classical literature, discovered the undoubtable source. Lorem Ipsum met..", comes from a line in section 1.10.32.
        </p>
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
          Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
          classical literature, discovered the uno popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
          old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
          the cites of the word in classical literature, discovered the undoubtdoubtable source. Lorem Ipsum met..", comes from a line in section 1.10.32.s of Good and Evil) by Cicero, written in 45
          BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
      </div>
    </div>
    <div>Spoken languages: English, Hungaran</div>
  </div>

  <!-- <div class="ui-g-12 ui-md-4 ui-lg-2"></div>
  <div class="ui-g-8"></div> -->
  <!-- 
  <div id="profile-picture">
    <img src="assets/images/fakeProfilePicture.jpg" alt="profile picture" />
    <div id="contact-information">
      
    </div>
  </div> -->
</div>
